@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

/* font-family: 'Barlow Semi Condensed', sans-serif; */

/* css reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  */

/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Moderate violet: hsl(263, 55%, 52%)
Very dark grayish blue: hsl(217, 19%, 35%)
Very dark blackish blue: hsl(219, 29%, 14%)
White: hsl(0, 0%, 100%)

### Neutral

Light gray: hsl(0, 0%, 81%)
Light grayish blue: hsl(210, 46%, 95%)

Note for text colors:

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity

## Typography

### Body Copy

- Font size: 13px

### Font

- Family: [Barlow Semi Condensed](https://fonts.google.com/specimen/Barlow+Semi+Condensed)
- Weights: 500, 600 */

.container {
    border: 1px solid red;
    display: grid;
    grid-template-rows: repeat(2, 32vh);
    grid-template-columns: repeat(4, 30vh);
    grid-template-areas: 
    'block1 block1 block2 block3'
    'block4 block5 block5 block3';
    gap: 20px;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

.items {
    background-color: #C5FFFD;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 3vh;
}

.items .header {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    position: relative;
}

.items .header .header-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: 2px solid #A775F2;
    margin-right: 2vh;
}

.items .header .header-info p:first-child {
    color: white;
    margin-bottom: 5px;
}

.items .header .header-info p:last-child {
    color: hsl(0, 0%, 81%);
}

.items h2 {
    color: white;
    margin-bottom: 2vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    font-size: 2.3vh;
    line-height: 2.7vh;
    z-index: 1;
}

.items p {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    color: hsl(0, 0%, 81%);
    font-size: 1.52vh;
    line-height: 2vh;
}

.item-1 {
    grid-area: block1;
    background-color: hsl(263, 55%, 52%);
}

.item-1 .header .item-1-quot {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(345%, -15%);
    z-index: 0;
}

.item-2 {
    grid-area: block2;
    background-color: hsl(217, 19%, 35%);
}

.item-2 .header .header-img {
    outline: none ;
    width: 35px;
    height: 35px;
}

.item-3 {
    grid-area: block3;
    background-color: hsl(0, 0%, 100%);
}

.white-screen .header .header-img {
    outline: none ;
    width: 35px;
    height: 35px;
}

.white-screen .header .header-info p:first-child {
    color: hsl(219, 29%, 14%);
    margin-bottom: 5px;
}

.white-screen .header .header-info p:last-child {
    color: hsl(217, 19%, 35%);
}

.white-screen h2 {
    color: hsl(219, 29%, 14%);
}

.white-screen p {
    color: hsl(217, 19%, 35%);
}

.item-4 {
    grid-area: block4;
    background-color: hsl(0, 0%, 100%)
}

.white-screen {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item-5 {
    grid-area: block5;
    background-color: hsl(219, 29%, 14%);
}

